
/* Sizes */
  
.size_1{
  width:35vh;
  height:35vh;
}
  
.size_2{
  width:23.3vh;
  height:23.3vh;
}
  
.size_3{
  width:17.5vh;
  height:17.5vh;
}
  
.size_4{
  width:14vh;
  height:14vh;
}

.size_5{
  width:11.6vh;
  height:11.6vh;
}

.size_6{
  width:10vh;
  height:10vh;
}

.size_7{
  width:8.75vh;
  height:8.75vh;
}

.size_8{
  width:7.77vh;
  height:7.77vh;
}

.size_9{
  width:7vh;
  height:7vh;
}

.size_10{
  width:6.36vh;
  height:6.36vh;
}


/* Cursor */
  
.pointer:hover{
  cursor: pointer
}


/* Margins */

.m-auto{
    margin:auto
}

/* Borders */

.b-grey-thin{
    border: 1px solid #dbdcde;
}
.b-grey-large{
    border: 5px solid #dbdcde;
}

/* Border-radius */

.b-rad-2{
  border-radius:2px;
}