/* Colors */

.brown{
    background-color: #675504
  }

.lightbrown{
    background-color: #cfbd6e
}
  
.black{
    background-color: #0a0b14
}
  
.lightblack{
    background-color: #6a656f;
}

.green{
   background-color: #70a909;
}
  
.lightgreen{
  background-color: #a5f657;
}

.blue{
  background-color: #0000FF;
}

.lightblue{
  background-color: #6495ED;
}

.orange{
  background-color: #ff9933;
}
  
.lightorange{
  background-color: #ffa64d;
}

.yellow{
    background-color: #fcff33;
}
    
.lightyellow{
  background-color: #f6f957;
}
  
  
  
  /* Grid */
  
  .grid-container {
      display: grid;
      grid-template-columns: auto auto;
      padding: 10px;
  }
  
  .grid-item {
      /* background-color: rgba(255, 255, 255, 0.8); */
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 30px;
      text-align: center;
  }
  
  /* Sizes */
  
  .size_1{
      width:35vh;
      height:35vh;
  }
  
  .size_2{
      width:23.3vh;
      height:23.3vh;
  }
  
  .size_3{
      width:17.5vh;
      height:17.5vh;
  }
  
  .size_4{
    width:14vh;
    height:14vh;
}

.size_5{
    width:11.6vh;
    height:11.6vh;
}

.size_6{
    width:10vh;
    height:10vh;
}
  .border-grey{
      border: 1px solid #dbdcde;
  }
  
  /* Cursor */
  
  .pointer:hover{
      cursor: pointer
  }